@import 'header.css';
@import 'footer.css';

/* --------------header.css includes basic element styles------------------ */


:root {
    --text-color: hsl(0, 0%, 86%);
    --img-shadow: 5px 5px 6px black;
    --color-theme: orangered;
}


/* ------------------------main content---------------------- */

main {
    background-image: url("/images/background/bg-007.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
}


/* ------------ cart ------------- */

#cart-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 2rem;
}

#cart-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem;
    background: linear-gradient(to left, lightgray, gray);
    border: 3px solid black;
}

#cart-list li {
    display: grid;
    grid-template-columns: minmax(40%, 1fr) 0.5fr 0.5fr 0.5fr;
    grid-template-rows: minmax(3rem, auto);
    grid-column-gap: 1rem;
    padding: 0.5rem;
    background-color: black;
}

#cart-list li p {
    width: 100%;
    background-color: black;
}

.remove-button {
    max-width: 4rem;
    max-height: 2rem;
    background: linear-gradient(to left, lightgray, var(--color-theme));

}