@import 'header.css';
@import 'footer.css';

/* --------------header.css includes basic element styles------------------ */


:root {
    --text-color: hsl(0, 0%, 86%);
    --img-shadow: 5px 5px 6px black;
    --frame-width: 40%;
    --frame-padding: 3rem 1rem;
}

h4 {
    font-size: 1.5rem;
}


/* ------------------------main content---------------------- */

main {
    background-image: url("/images/background/bg-007.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
}


#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#main-container>* {
    padding: var(--frame-padding);
    min-width: var(--frame-width);
}

#open-hours {
    color: black;
}

#open-hours h4 {
    color: var(--text-color);
}


#pizzeria-map {
    display: flex;
    flex-direction: column;
}

#pizzeria-map h4 {
    align-self: center;
    padding: 1rem;
}

#pizzeria-map img {
    align-self: center;
    max-width: 50%;
    min-width: 360px;
}