@import 'header.css';
@import 'footer.css';

/* --------------header.css includes basic element styles------------------ */


:root {
    --text-color: hsl(0, 0%, 86%);
    --img-shadow: 5px 5px 6px black;
}


/* ------------------------main content---------------------- */

main {
    background-image: url("/images/background/bg-007.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
}


/* ------------drink offers------------- */

/*------------------------------------------ add prices everywhere---------------------------------------- */
/*------------------------------------------ add prices everywhere---------------------------------------- */

/*------------------------------------------ add prices everywhere---------------------------------------- */

/*------------------------------------------ add prices everywhere---------------------------------------- */


#top-message {
    padding: 4rem 2rem;
    text-shadow: 0px 0px 6px black;
}


#drinks-offers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    padding-bottom: 3rem;
}

.drinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    min-width: 360px;
    max-width: 400px;
    background: linear-gradient(lightgray, black);
}

@media (max-width: 700px) {
    .pizza {
        max-width: 40%;
    }
}

.drinks img {
    max-width: 100%;
    max-height: 300px;
    box-shadow: var(--img-shadow);
}

.drinks h4 {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-shadow: 0px 0px 3px black;
}

.drinks-name-cart {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
}

.drinks-name-cart a {
    position: relative;
    justify-self: end;
    align-self: end;
    right: 2rem;
    bottom: 2rem;
}

.drinks-name-cart i {
    scale: 2;
    padding: 1rem;
    color: limegreen;
}

.price-cart {
    position: relative;
    justify-self: end;
    align-self: end;
    right: 1rem;
    bottom: 1rem;
}

.price-cart button {
    scale: 0.8;
    padding: 1rem;
    background-color: black;
}

.price-cart button:hover {
    cursor: pointer;
}

.price-cart i {
    scale: 3;
    padding: 1rem;
    color: limegreen;
}