/* ----------basic element styles---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Times New Roman', Times;
}

body {
    min-width: 400px;
}

h2 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 4rem;
}

/* decorative*/
h3 {
    font-family: 'Inspiration', cursive;
    font-size: 4rem;
    text-shadow: 3px 3px 2px black;
}

h4 {
    font-family: 'Gill Sans';
    font-size: 2rem;
}

/* prices */
h5 {
    font-size: 1.4rem;
    text-shadow: 0px 0px 5px black;
}

:root {
    --header-height: 8rem;
    --header-width: 100%;
    --header-background: linear-gradient(lightgray, darkgray);
    --header-padding: 0rem 3%;
}


/* ---------------------Navigation bar------------------- */
.header-container nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    width: var(--header-width);
    background: var(--header-background);
    padding: var(--header-padding);
    z-index: 1;
}

#Pizzeria-text {
    text-decoration: none;
}

#Pizzeria-text h1 {
    text-decoration: none;
    font-family: 'Alumni Sans Inline One', cursive;
    color: black;
    font-size: 3.5rem;
    font-weight: 300;
    text-shadow: 1px -1px 3px orangered;
}

#Pizzeria-text h1:hover {
    text-shadow: 1px -1px 3px red;
    text-shadow: 1px -1px 6px red;
    transition: 0.6s;
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#nav-bar li {
    display: flex;
    width: 5rem;
    height: 2rem;
    align-items: center;
    margin: 0.5rem 2.5rem;
}

#nav-bar li a {
    text-decoration: none;
    font-family: 'Gill Sans';
    font-size: 1.5rem;
    color: black;
    text-shadow: 0px 0px 5px orangered;
}

#nav-bar li a:hover {
    text-shadow: 1px 1px 3px red;
    font-size: 1.8rem;
    transition: 0.4s;
}

#header-tel-number {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    display: inline-block;
    width: fit-content;
}

@media (max-width: 550px) {
    #header-tel-number {
        margin-top: 5%;
        margin-right: 80%;
    }
}

#header-tel-number h4 {
    font-size: 1rem;
}

@media (max-width: 550px) {
    #header-tel-number h4 {
        font-size: 0.8rem;
        transform: rotate(70deg);
    }
}

#header-cart {
    align-self: bottom;
    padding: 1rem;
}

#header-cart i {
    scale: 2;
    color: hsl(120, 100%, 33%);
}


/* to push down main content due to header - position: fixed */
#header-filler {
    width: var(--header-width);
    height: var(--header-height);
}