@import 'header.css';
@import 'footer.css';

/* --------------header.css includes basic element styles------------------ */


:root {
    --text-color: hsl(0, 0%, 86%);
    --img-shadow: 5px 5px 6px black;
}


/* ------------------------main content---------------------- */

main {
    background-image: url("/images/background/bg-007.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
}


/* ------------main 1-st section------------- */

#container-main-offer {
    padding: 5%;
}


#main-offer-deal {
    float: left;
    width: fit-content;
    margin-right: 4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    #main-offer-deal {
        font-size: 3rem;
        width: 95%;
    }
}

#main-offer-img {
    float: right;
    margin: 2rem;
    margin-right: 10%;
    max-width: 25%;
    min-width: 15rem;
    transform: rotateZ(-20deg);
}

#main-offer-img img {
    width: 100%;
    box-shadow: var(--img-shadow);
}

#main-offer-img h3 {
    font-family: 'Inspiration', cursive;
    font-size: 4rem;
    text-align: center;
    text-shadow: 3px 3px 2px black;
}

#main-offer-description {
    /* width: max-content; */
    display: inline-block;
    width: fit-content;
    margin: 2rem;
}

@media (max-width: 700px) {
    #main-offer-description {
        font-size: 2rem;
        width: 95%;
    }
}


/* --------------main 2-nd section-------------- */
#favourites {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(2, minmax(20px, auto));
    gap: 2rem;
    min-width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    box-shadow: 0px -30px 30px black;
}

@media (max-width: 700px) {
    #favourites {
        grid-auto-flow: column;
    }
}

#favourite-text {
    place-self: center;
}

@media (max-width: 700px) {
    #favourite-text {
        grid-column: span 2;
        justify-self: left;
    }
}

#favourites h2 {
    font-size: 3rem;
    transform: rotateZ(70deg);
}

@media (max-width: 700px) {
    #favourites h2 {
        font-size: 2.4rem;
        transform: rotateZ(10deg);
    }
}

#favourite-offers {
    justify-self: left;
    display: grid;
    grid-column: span 3;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    min-width: 360px;
    max-width: 70%;
}

@media (max-width: 700px) {
    #favourite-offers {
        justify-self: center;
        grid-column: span 4;
        gap: 1rem;
    }
}

#favourite-offers>* {
    position: relative;
}

#favourite-offers img {

    width: 100%;
    height: 100%;
    box-shadow: var(--img-shadow);
}

#favourite-offers h4 {
    position: absolute;
    max-width: 100%;
    max-height: 20%;
    font-size: 1.2rem;
    left: 5%;
    bottom: 5%;
}


/* ------------------main 3-rd section---------------- */
#pizzeria-introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
    min-height: 26rem;
    gap: 2rem;
    padding: 2rem 5%;
}

#pizzeria-introduction img {
    order: 1;
    max-width: 450px;
    max-height: 350px;
    min-width: 360px;
    box-shadow: var(--img-shadow);
}


#pizzeria-info {
    flex-grow: 1;
    width: 50%;
    height: auto;
    padding: 2rem;
    background-color: black;
}

#pizzeria-info p {
    margin-top: 2rem;
}


/* -----------------main 4-th section-------------- */
#pizzeria-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 4rem 2rem;
}

#pizzeria-location-info {
    text-align: center;
    line-height: 4rem;
    padding: 2rem;
    background-color: black;
}

#pizzeria-location img {
    min-width: 360px;
    max-width: 450px;
    max-height: 350px;
    box-shadow: var(--img-shadow);
}